body {
	text-align: justify;
	font-family: sans-serif;
}

img {
	max-width: 100%;
}

span {
	font-weight: bold;
	font-style: oblique;
}

audio {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: hotpink;
}

#links {
	display: none;
}

.navbar {
	overflow: hidden;
	position: relative;
}

.navbar a {
	font-size: 20px;
	text-decoration: none;
	padding: 14px 20px;
	display: block;
	text-align: center;
}

.navbar a.icon {
	background: #ddd;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.navbar a:hover {
	color: hotpink;
	background: #ddd;
}

.navbar a.active {
	color: black;
	background: #ddd;
}

.footer-channels {
	text-align: center;
}

.footer-channels img {
	display: inline-block;
	width: auto;
	height: 20px;
	margin: 20px;
}

.main h1 {
	text-align: center;
	padding: 10px;
}

.content p {
	font-size: 20px;
	flex-wrap: wrap;
	text-align: center;
	padding: 10px;
}

.content h2 {
	text-align: center;
	padding: 10px;
}

.content li {
	font-size: 20px;
	flex-wrap: wrap;
	margin: 10px;
	margin-left: 50px;
}

.community {
	list-style: square;
	flex-wrap: wrap;
	padding: 10px;
} 

.footer {
	text-align: center;
	overflow: hidden;
	background-color: #ddd;
	padding: 30px;
}

* {
	box-sizing: border-box;
	margin: 0;
}
